
.header a {
	    font-size: 24pt;
    color: #fff;
    margin-top: 190px;
    display: block;
    text-transform: uppercase;
    text-align: center;
	margin-top: 190px;
}
.header p {
	font-size: 42pt;
	text-align: center;
	color: #fff;
	text-transform: lowercase;
	font-family: 'Lobster', cursive;
}
@media screen and (max-width:760px) {
	.header {
	height:300px
	}
	.header p{
		display:none;
	}
	.header a{
		display:block;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		margin:0;
		font-size: 14pt;
	}
}

.body{
	background-image: url('img/uzorak.png');
	
}
.main-menu {
	width: 100%;
	background-color: #FEEDE6;
	text-align: center;
	margin-bottom:0px;
}
.main-menu li {
	display: inline-block;
	height: 100px;
	transition: 3s;
}
.main-menu li a {
	color: #000;
	font-size: 18pt;
	padding-left: 40px;
	padding-right: 40px;
	line-height: 100px;
	display: block;
}
.main-menu li:hover {
	background-color: #EB5757;
}
.main-menu li:hover a {
	text-decoration: none;
	color: #fff;
}
.hamburger{
	display:none;
	line-height: 100px;
	height:100px;
	background-color:#FEEDE6;
	padding-left:30px;
	text-align:left;
}
.hamburger .glyphicon {
	font-size:24pt;
	cursor: pointer;
}


@media screen and (max-width:760px) {
	.main-menu li{
	display: block;
	width:100%;
	text-align:center;
	}
	.main-menu{
		padding:0;
		display:none; 
	}
	.hamburger{
		display:block;
	}
}

@media screen and(min-width:761px){
	.main-menu{
		display:block!important;
	}
}

.gallery img {
	width: 100%;	
}
.gallery div {
	padding: 10;
	margin-bottom: 4px;
}


.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: .5s ease;
	
	
}
.image-container:hover .overlay {
	opacity: 0.7;
	margin-bottom: 10px;
}
.image-container:hover img {
	filter: blur(3px);
}
.overlay p {
	color: #fff;
	font-size: 18pt;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.overlay a {
	color: #fff;
	text-decoration: none;
}

.naslov{
	
	font-size:48px;
	font-family:'Pompiere', cursive;
	
}
.naslov_1
{
	padding-top:40px;
	padding-bottom:40px;
	font-size:48px;
	text-align:center;
	font-family: 'Pompiere', cursive;
	
	
}
.contact-form{
	background-color: #FFDBD3;
	padding:100px;
}
.contact-form h1{
	font-size:24pt;
	margin-bottom:40px;
	text-transform: uppercase;

}
.form-control{
	height:45px;
	border-radius:0;
	border:1 px solid #000;
}
.form-control::placeholder{
	color: #000;
}
.btn, .btn:hover{
	padding:15px 25px;
	background-color: #000;
    color: #fff;
	border-radius:0;
}
.btn-default{
	border:0;
}
.footer{
	background: url('img/footer_bg.jpg') no-repeat;
	background-size: cover;
	height: 400px;
}
.footer img{
	margin-top:70px;
	margin-left:50px;
	
}
.pravokutnik
{
	height:81px;
	background-color: #7D7070;
	margin-top:50px;
	
}

.footer ul{
	float:right;
	margin-top: 30px;
	margin-right: 50px;
}
.footer ul li{
	display: inline-block;
}
.footer ul li a {
	color: #fff;
	font-size:18pt;
	padding-left:20px;
	padding-right:20px;
	display: block;
}
.slideshow{
	height:400px;
	width:100%;
}
.square-blocks div{
	height:250px;
	
}
.square-blocks .light-gray-bg {
	background-color: #F0F0F0;
}
.square-blocks .dark-gray-bg {
	background-color: #E0E0E0;
}
.square-blocks p {
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 18pt;
	text-transform: uppercase;
}

.square-blocks span{
	font-size: 50pt;
	
}
.square-blocks a{
	color:#75AECC;
}
.square-blocks a:hover{
	color: #7D7070;
	text-decoration: none;
}


.about-me img,
.article img {
	width: 100%;
}
.about-me div,
.article div {
	padding: 0;
}
.about-me-text,
.article-text {
	padding-left: 40px !important;
	padding-right: 40px !important;
}
.section-title {
	
	text-align: center;
	text-transform: uppercase;
}
#vegas {
	height: 585px;
}






