.header {
	height: 600px;
	background: url('img/naslovna3.jpg') no-repeat ;
	background-size:cover;
	
}
.naslov2{
	font-size:48px;
	font-family:'Pompiere', cursive;
	text-align:center;
}


